{% extends 'generic/object.html' %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">{% trans "Address Pool" %}</h5>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">{% trans "Name" %}</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    {% if object.description %}
                    <tr>
                        <th scope="row">{% trans "Description" %}</th>
                        <td style="word-break:break-all;">{{ object.description }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">{% trans "IP Range" %}</th>
                        <td>{{ object.ip_range|linkify|placeholder }}</td>
                    </tr>
                </table>
            </div>
            <div class="card">
                <h5 class="card-header">{% trans "Selection" %}</h5>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">{% trans "Client Class" %}</th>
                        <td>{{ object.client_class|linkify|placeholder }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Require Client Classes" %}</th>
                        <td>
                            <table>
                                {% for require_client_class in object.require_client_classes.all %}
                                    <tr><td>{{ require_client_class|linkify|placeholder }}</td></tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% include 'inc/panels/custom_fields.html' %}
        </div>
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header">{% trans "Assignment" %}</h5>
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">{% trans "User Context" %}</th>
                        <td>
                            {% if object.user_context %}
                                <pre>{{ object.user_context|json }}</pre>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{% trans "Comment" %}</th>
                        <td>{{ object.comment }}</td>
                    </tr>
                </table>
            </div>
            {% include 'inc/panels/tags.html' %}
        </div>
    </div>
{% endblock %}
