name: PyPI Publish

on:
    release:
        types:
          - published

permissions:
  contents: read

jobs:
    publish:
        runs-on: ubuntu-latest
        environment: NetBox DHCP Deployment
        permissions:
            id-token: write

        steps:
          - name: Checkout code
            uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

          - name: Setup Python
            uses: actions/setup-python@4f41a90a1f38628c7ccc608d05fbafe701bc20ae
            with:
              python-version: "3.12"

          - name: Install build dependencies
            run: |
                python -m pip install --upgrade pip
                pip install build

          - name: Build package
            run: python -m build

          - name: Publish to PyPI
            uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e
            with:
                verbose: true
                repository-url: ${{ vars.REPOSITORY_URL }}
