{% load i18n %}

<tr>
    <th scope="row">{% trans "Client Class" %}</th>
    <td>{{ object.client_class|linkify|placeholder }}</td>
</tr>
<tr>
    <th scope="row">{% trans "Require Client Classes" %}</th>
    <td>
        <table>
            {% for class in object.require_client_classes.all %}
                <tr><td>{{ class|linkify|placeholder }}</td></tr>
            {% endfor %}
        </table>
    </td>
</tr>
<tr>
    <th scope="row">{% trans "Evaluate Additional Classes" %}</th>
    <td>
        <table>
            {% for class in object.evaluate_additional_classes.all %}
                <tr><td>{{ class|linkify|placeholder }}</td></tr>
            {% endfor %}
        </table>
    </td>
</tr>
