{% load i18n %}

<tr>
    <th scope="row">{% trans "Client Class" %}</th>
    <td>{{ object.client_class|linkify|placeholder }}</td>
</tr>
<tr>
    <th scope="row">{% trans "Required Client Classes" %}</th>
    {% if object.required_client_classes.exists %}
    <td>
        <table>
            {% for class in object.required_client_classes.all %}
                <tr><td>{{ class|linkify|placeholder }}</td></tr>
            {% endfor %}
        </table>
    </td>
    {% else %}
    <td>{{ ''|placeholder }}</td>
    {% endif %}
</tr>
