{% load i18n %}

<tr>
    <th scope="row">{% trans "Offer Lifetime" %}</th>
    <td>{{ object.offer_lifetime|placeholder }}</td>
</tr>
<tr>
    <th scope="row">{% trans "Valid Lifetime" %}</th>
    <td>{{ object.valid_lifetime|placeholder }}</td>
</tr>
<tr>
    <th scope="row">{% trans "Minimum Valid Lifetime" %}</th>
    <td>{{ object.min_valid_lifetime|placeholder }}</td>
</tr>
<tr>
    <th scope="row">{% trans "Maximum Valid Lifetime" %}</th>
    <td>{{ object.max_valid_lifetime|placeholder }}</td>
</tr>
<tr>
    <th scope="row">{% trans "Preferred Lifetime" %}</th>
    <td>{{ object.preferred_lifetime|placeholder }}</td>
</tr>
<tr>
    <th scope="row">{% trans "Minimum Preferred Lifetime" %}</th>
    <td>{{ object.min_preferred_lifetime|placeholder }}</td>
</tr>
<tr>
    <th scope="row">{% trans "Maximum Preferred Lifetime" %}</th>
    <td>{{ object.max_preferred_lifetime|placeholder }}</td>
</tr>
