{% load i18n %}

{% if object.parent_pools.exists or object.parent_pdpools.exists or object.parent_subnets.exists or object.parent_sharednetworks.exists or object.parent_dhcpservers.exists %}
<div class="card">
    <h5 class="card-header">{% trans "Parent Objects" %}</h5>
    <table class="table table-hover attr-table">
        {% if object.parent_dhcpservers.exists %}
            <tr>
                <th>{% trans "DHCP Servers" %}</th>
                <td>
                    <table>
                        {% for parent in object.parent_dhcpservers.all %}
                            <td>{{ parent|linkify }}</td></tr>
                        {% endfor %}
                    </table>
                <td>
            </tr>
        {% endif %}
        {% if object.parent_subnets.exists %}
            <tr>
                <th>{% trans "Subnets" %}</th>
                <td>
                    <table>
                        {% for parent in object.parent_subnets.all %}
                            <td>{{ parent|linkify }}</td></tr>
                        {% endfor %}
                    </table>
                <td>
            </tr>
        {% endif %}
        {% if object.parent_sharednetworks.exists %}
            <tr>
                <th>{% trans "Shared Networks" %}</th>
                <td>
                    <table>
                        {% for parent in object.parent_sharednetworks.all %}
                            <td>{{ parent|linkify }}</td></tr>
                        {% endfor %}
                    </table>
                <td>
            </tr>
        {% endif %}
        {% if object.parent_pools.exists %}
            <tr>
                <th>{% trans "Pools" %}</th>
                <td>
                    <table>
                        {% for parent in object.parent_pools.all %}
                            <tr><td>{{ parent|linkify }}</td></tr>
                        {% endfor %}
                    </table>
                <td>
            </tr>
        {% endif %}
        {% if object.parent_pdpools.exists %}
            <tr>
                <th>{% trans "Prefix Delegation Pools" %}</th>
                <td>
                    <table>
                        {% for parent in object.parent_pdpools.all %}
                            <td>{{ parent|linkify }}</td></tr>
                        {% endfor %}
                    </table>
                <td>
            </tr>
        {% endif %}
    </table>
</div>
{% endif %}
